.whole {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-grid-out {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 36px;
    margin-bottom: 72px
}

.movies-grid {
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.grid_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lines {
    width: 100%;
    height: .5px;
    background-color: #9A9696;
}

.headings {
    margin: 0;
    padding: 0;
    color: #DEDDDB;
}