.whole-fav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.movie-grids {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.movie-grid-outer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 36px;
    margin-bottom: 72px
}

.movie-grid {
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.grid-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.line {
    width: 100%;
    height: .5px;
    background-color: #9A9696;
}

.heading {
    margin: 0;
    padding: 0;
    color: #DEDDDB;
}
