body {
  margin: 0;
  padding-top: 45px;
  height: 100%;
  background-image: url("../assets/homecover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
