.movies-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-grid {
    width: 1070px;
    height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.search-form {
    display: flex;
    gap: 8px;
}

.search-input {
    width: 280px;
    height: 36px;
    border-radius: 28px;
    padding-left: 18px;
    border-style: none;
}

.search-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-style: none;
    background-color: #202020;
}