.movie-card {
    background-color: #202020;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    gap: 10px;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
}

.movie-poster {
    background-color: #161616;
    width: 240px;
    height: 210px;
    border-radius: 16px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 018px;
    object-position: top;
}

.favorite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  border-style: none;
}

.favorite-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-button.active {
  color: #ff4757;
}

.movie-info {
    background-color: #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    height: 70px;
    align-items: center;
    padding-bottom: 8px;
}

.title-date {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-date {
    /* background-color: red; */
    font-size: 10px;
    color: #9A9696;
    margin-top: -16px;  
}

.right-info {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
}

.watch-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-right: 18px;
}

.movie-title {
    font-size: 10px;
    padding-bottom: 8px;
}

.watch-button {
    font-size: 10px;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 16;
}