.whole {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.movies-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    gap: 36px;
}

.movie-grid {
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    left: 32px;
}

.search-input {
    width: 280px;
    height: 36px;
    border-radius: 28px;
    padding-left: 18px;
    border-style: none;
}

.search-button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border-style: none;
    background-color: #202020;
}

.search-svg {
    position: relative;
    top: 2px;
}

.movie-grid-outer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px
}

.movie-grids {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.grid-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.line {
    width: 100%;
    height: .5px;
    background-color: #9A9696;
}

.heading {
    margin: 0;
    padding: 0;
    color: #DEDDDB;
}
