.movie-card {
    background-color: #202020;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    gap: 10px;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
}

.movie-poster {
    background-color: #161616;
    width: 240px;
    height: 210px;
    border-radius: 16px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorite-button {
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 50%;
    font-size: 20px;
    color: #161616;
    background-color: #DEDDDB;
    border-style: none;
    cursor: pointer;
}

.movie-info {
    background-color: #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    height: 70px;
    align-items: center;
    padding-bottom: 8px;
}

.title-date {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-date {
    /* background-color: red; */
    font-size: 10px;
    color: #9A9696;
    margin-top: -16px;  
}

.right-info {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
}

.watch-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-right: 18px;
}

.movie-title {
    font-size: 14px;
    padding-bottom: 4px;
}

.watch-button {
    font-size: 12px;
}